<table class="table">
<% Flag.where(:creator => current_user.id).find(:all, :order=>"id desc", :limit => 50).each do |flag| %>
	<% user = User.find_by_id(flag.creator) %>
	<tr>
		<td class="col-md-12">
			<h3><%= link_to flag.title, flag_path(:id => flag.id) %></h3>
			<p class="text-muted"><%= flag.summary %></p>
			<span class="text-muted" style="text-align:right;float:right">created by <%= user.username %></span>
		</td>
	</tr>
<% end %>
</table>