<table class="table">
<% @flags.each do |flag| %>
	<tr>
		<td class="col-md-12">
			<h3><%= link_to flag.title, flag_path(:id => flag.id) %></h3>
			<p class="text-muted"><%= flag.summary %></p>
			<span class="text-muted" style="text-align:right;float:right">created by <%= flag.user.username %></span>
		</td>
	</tr>
<% end %>
</table>
